# macOS
.DS_Store

# Xcode
build/
DerivedData/

# User settings
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Firebase
GoogleService-Info.plist

# Secrets
*.p12
*.mobileprovision
*.cer

# Logs
*.log